body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Background */
.app-bg {
  min-height: 100vh;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Glass Card */
.card {
  width: 350px;
  padding: 25px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);

  border: 1px solid rgba(255,255,255,0.3);
  box-shadow: 0 8px 32px rgba(0,0,0,0.1);

  text-align: center;
}